.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.head {
    font-size: 70px;
    color: goldenrod;
    text-align: center;
    text-decoration: underline;

}
body{
    background-image: url(images/desktop-wallpaper-usaf-logo-usaf-logo-for-your-mobile-tablet-explore-air-force-logo-air-force-football-air-force.jpg);
    background-size: 50%; 
 }
 .one {
    font-size: 65px;
    color: black;
    text-align: left;
    text-decoration: underline;
 }
 .two {
    font-size: 35px;
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    width: 33%;
    justify-content: center;
}
.three {
    font-size: 30px;
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    width: 33%;
    justify-content: center;
}
.job1 {
    font-size: 65px;
    color: black;
    text-align: left;
    text-decoration: underline;
}
.job2 {
    font-size: 65px;
    color: black;
    text-align: left;
    text-decoration: underline;
}
.four {
    font-size: 30px;
    color: white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    width: 33%;
    justify-content: center;
}
.five {
    font-size: 30px;
    color: goldenrod;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    width: 33%;
    justify-content: center;
}
